{% csrf_token %}
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="">HAE</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class=""><a href="{% url 'home' %}">Home</a></li>
        <li><a href="">About</a></li>
        <li><a href="">Contact</a></li>

        </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'Ngo:addevent' %}"><i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
        Add Events</a></li>
          <li><a href="{% url 'logout' %}"><i class="fa fa-user" aria-hidden="true"></i>
        Log Out</a></li>


      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<style>
    body {background-color:#ccc}
    .box {
	width:70%;
	height:200px;
	background:#FFF;
	margin:40px auto;
    padding: 5px;

}
    .effect1{
	-webkit-box-shadow: 0 10px 6px -6px #777;
	   -moz-box-shadow: 0 10px 6px -6px #777;
	        box-shadow: 0 10px 6px -6px #777;
}
    /*.box h3{
  text-align:center;
	position:relative;
	top:80px;}*/
    .img{
        width: 55%;
        size: 80px;
    }
    img{
        float: left;
        width: 40%;

    }
    .bottom{
        padding-top: 55px;
    }
    #oh{
        float: right;
    }
</style>
<br><br><br>
Hey {{ user.username }} - NGO<br>
Please Add an event so that Volunteers can register<br>
Click on the Event title to see list of volunteers registered<br>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


{% if user.is_authenticated %}
    {% for event in events_fil%}

<div class="box effect1">
    <div class="img">
        <img src="{{ event.image.url }}" alt="oh no" class="img-responsive">

    </div>
    <a href="{% url 'Ngo:event-full' event.id %}">
    <h3 style="padding-left: 190px">{{ event.title }}</h3>
    </a>
    <p style="padding-left: 190px">{{ event.description }}</p>
    <a id="oh" href="{% url 'Ngo:event-delete' event.id %}" class="btn btn-info btn-sm">
          <span class="glyphicon glyphicon-trash"></span> Delete
        </a>
    <div class="bottom" style="padding-left: 190px">
     <h5 style="float: left">{{ event.place }}</h5>
    <h5 style="float: right">{{ event.user }} - {{ event.contact }}</h5>
    </div>

</div>

{% endfor %}
{% endif %}